<div class="footer">
    <div class="container">
        <div style="margin: 0;" class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 footer-item">
                <div class="footer-item-caption first-footer-item-child">
                    Экскурсии
                </div>
                <ul>
{#                    {% for category in categories %}#}
{#                        <li>#}
{#                            <a href="{{ path('catalog-by-category-action', {'categorySlug': category.slug}) }}">{{ category.name }}</a>#}
{#                        </li>#}
{#                    {% endfor %}#}
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 footer-item">
                <div class="footer-item-caption">
                    Мероприятия
                </div>
                <ul>
{#                    {% for page in mainPages %}#}
{#                        <li><a href="{{ path('event-by-link-action', {'link': page.link}) }}">{{ page.title }}</a></li>#}
{#                    {% endfor %}#}
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 footer-item">
                <div class="footer-item-caption">
                    Компания
                </div>
                <ul>
                    <li><a href="">Новости</a></li>
                    <li><a href="">О компании</a></li>
                    <li><a href="">Контакты</a></li>
                    <li><a href="">Точки продаж</a></li>
                    <li><a href="">Оплата и условия возврата</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 footer-item">
                <div class="footer-item-caption">
                    Контакты
                </div>
                <ul>
                    <li><a href="tel:+496170961709"><i class="material-icons" aria-hidden="true">phone_android</i>+7 862 296-05-03</a>
                    </li>
                    <li><a href=""><i class="material-icons" aria-hidden="true">email</i>info@rutasochi.ru</a></li>
                    <li><a href=""><i class="material-icons" aria-hidden="true">location_on</i>г. Сочи, ул. Чайковского,
                            д. 17</a></li>
                    <li class="social-icons">
                        <div class="textwidget custom-html-widget">
                            <div class="social"><a
                                        style="background-image: url(https://rutasochi.ru/images/icons/social/vk.png);"
                                        class="vk" href="https://vk.com/rutasochi">
                                    <div class="overlay"></div>
                                </a> <a
                                        style="background-image: url(https://rutasochi.ru/images/icons/social/fb.png);"
                                        class="fb" href="https://business.facebook.com/rutasochi">
                                    <div class="overlay"></div>
                                </a> <a
                                        style="background-image: url(https://rutasochi.ru/images/icons/social/insta.png);"
                                        class="insta" href="https://www.instagram.com/rutasochi/">
                                    <div class="overlay"></div>
                                </a> <a
                                        style="background-image: url(https://rutasochi.ru/images/icons/social/youtube.png);"
                                        class="youtube" href="https://www.youtube.com/channel/UChJuYd5miDczeFVAgdt9C0Q">
                                    <div class="overlay"></div>
                                </a> <a
                                        style="background-image: url(https://rutasochi.ru/images/icons/social/pin.png);"
                                        class="pin" href="https://www.pinterest.ru/rutasochi/pins/ ">
                                    <div class="overlay"></div>
                                </a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
