.catalog-about {
    margin-top: 108px;
}

.catalog-about .catalog-about-caption {
    font-size: 3.4rem;
    font-family: main sans-serif;
    color: #313131d6;
}

.catalog-about .catalog-about-content {
    font-size: 1.9rem;
    color: #313131cf;
    font-family: main sans-serif;
}

.catalog-bg-block {
    margin-top: 90px;
    border-top: 1px solid #5f5a5924;
    margin-bottom: 120px;
}

.catalog-list {
    position: relative;
}

.catalog-filter {
    width: 100%;
    margin: -32.5px auto;
    background: white;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    border-radius: 70px;
    height: 65px;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: white;
    z-index: 100;
    top: 50px;
    left: -15px;
}

.no-excursions-block {
    width: 50%;
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: #5a5a5a;
    font-family: main sans-serif;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
}


@media screen and (max-width: 600px) {
    .loader-wrapper {
        width: 100%;
        height: 410px;
        display: block;
        position: absolute;
        background: white;
        z-index: 100;
        top: -50px;
        left: 0;
    }
    .lds-ripple {
        left: 46% !important;
    }
    .no-excursions-block {
        width: 70%;
        box-shadow: none;
        font-size: 1.8rem;
        text-align: center;
        height: 100px;
        margin-top: -40px;
    }
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 150px;
    left: 48%;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #f39e6f;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}


.catalog-filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalog-filter ul li {

}
.catalog-filter ul li a {
    float: left;
    padding: 18px;
    color: #3d668f;
    border-radius: 30px;
    height: 50px;
    margin: 0.73rem 0.74rem 0.73rem 4rem;
    text-transform: uppercase;
    font-family: main sans-serif;
    font-size: 1.6rem;
    line-height: 15px;
    transition: .2s;
    text-decoration: none;
}

.catalog-filter ul li a.active {
    color: white;
    transition: .2s;
    background-image: linear-gradient(180deg,#ff9a71,#ffb066);
}

.excursion-item {
    padding: 0;
}

.excursion-item-bg {
    height: 500px;
    width: 76%;
    background-size: cover;
    background-position: center;
}

.excursion-item-bg:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 76%;
    -webkit-transition: .25s;
    transition: .25s;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.35)),color-stop(30%, rgba(0,0,0,.15)),color-stop(60%, rgba(0,0,0,.1)),color-stop(80%, rgba(0,0,0,.4)),to(rgba(0,0,0,.65)));
    background-image: linear-gradient(180deg,rgba(0,0,0,.35),rgba(0,0,0,.15) 30%,rgba(0,0,0,.1) 60%,rgba(0, 0, 0, 0.3) 80%,rgba(0, 0, 0, 0.56));
}

.excursion-item-content {
    z-index: 2;
    height: 500px;
    width: 35%;
    box-shadow: 0 0.425rem 1.225rem rgba(0,0,0,.05);
    margin: 2rem 0 -2rem -8rem;
    background-color: #fff;
    position: absolute;
    top: 15px;
    right: 0;
    padding: 11rem 4rem 4rem 4rem;
}

.excursion-item-content:before {
    content: "";
    position: absolute;
    top: 3rem;
    bottom: 3rem;
    left: 3rem;
    right: 3rem;
    display: block;
    border: 1px solid #dae1e5;
    -o-border-image: radial-gradient(circle at 93% 100%,#f1f5f7,#f1f5f7 50%,#dae1e5) 1;
}

.excursion-item-caption {
    font-size: 2.2rem;
    font-family: main sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 7px;
}

.excursion-item-content ul {
    list-style: none;
    padding: 15px 0 0 30px;
    margin-bottom: 30px;
}
.excursion-item-content ul li {
    padding: 10px 30px 10px 0;
    font-size: 1.6rem;
    font-family: main Sans-Serif;
    text-transform: uppercase;
}

.excursion-item-content ul li span {
    float: right;
    text-transform: none;
}

.excursion-item:not(:first-child) {
    margin-top: 100px;
}

.ex-item-button {
    line-height: 45px;
    text-align: center;
    width: 38%;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(180deg,#ff9a71,#ffb066);
    height: 45px;
    color: white;
    font-size: 1.8rem;
    float: left;
    margin: 8px;
    transition: .5s;
    cursor: pointer;
    position: absolute;
}


.ex-item-button:last-child {
    right: 35px;
}

.ex-item-button:hover {
    background-image: linear-gradient(180deg,#ff9a71,#ffb066ab);
    transition: .5s;
    color: white;
    text-decoration: none;
}

.catalog-filter ul li a:hover {
    cursor: pointer;
}

.ex-item-button:focus {
    outline: none;
}

.ex-item-text {
    position: absolute;
    bottom: 15px;
    z-index: 2;
    left: 40px;
    width: 58%;
    color: white;
    font-size: 1.8rem;
    font-family: main sans-serif;
}

/* Modal content */
.modal-content {
    width: 70%;
    position: absolute;
    top: 10%;
    left: 15%;
    z-index: 4;
    height: 700px;
}

@media screen and (max-width: 3250px) {
    .ex-item-button {
        display: block !important;
        width: 93%;
        position: relative;
    }
    .ex-item-button:last-child {
        position: relative !important;
        right: 0;
    }
    .excursion-item-caption {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1200px) {
    .catalog-filter ul li a {
        margin: 0.73rem 0.74rem 0.73rem 2.5rem;
        font-size: 1.45rem;
    }
}

@media screen and (max-width: 992px) {
    .excursion-item-bg {
        width: 100%;
    }
    .excursion-item-bg:before {
        width: 100%;
    }
    .excursion-item-content {
        position: relative;
        width: 100%;
        margin: 0;
        top: 0;
    }
    .ex-item-text {
        width: 85%;
        top: 36%;
        font-size: 1.6rem;
    }
    .catalog-filter ul {
        margin-left: 12%;
    }
    .catalog-filter {
        height: 130px;
    }
    .catalog-about-col {
        padding: 10px 40px 10px 40px;
    }
}

@media screen and (max-width: 768px) {
    .catalog-filter {
        border-radius: 5px;
    }
    .catalog-filter ul {
        margin-left: 0;
    }
}

@media screen and (max-width: 550px) {
    .catalog-filter {
        height: 196px;
    }
}

@media screen and (max-width: 400px) {
    .catalog-filter {
        height: 327px;
        width: 250px;
    }
    .catalog-filter ul li a {
    }
}

@media screen and (max-width: 400px) {
    .excursion-item-caption {
        font-size: 1.8rem;
    }
    .excursion-item-content ul li {
        font-size: 1.3rem;
    }
}
